.topnav {
    background-color: rgb(1, 41, 1);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    text-shadow: 2px 2px 5px #000000;
    font-variant: small-caps;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: rgb(0, 0, 0);
    box-shadow:2px 2px 5px rgb(0, 0, 0);
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #06404e;
    color: rgb(255, 255, 255);
  }
  .topnav a.active:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: 1px 1px 5px rgb(255, 199, 199);
  }
   

 
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }